
# global
*.pro.user
*.pro.user*
.qmake.stash
Makefile
.qtc_clangd
## Builds
*.apk
*.aab
*.unitypackage
*.app
## Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# cpp-projects
cpp-projects/**/Makefile
cpp-projects/**/Makefile*
cpp-projects/**/*.pch
cpp-projects/**/*.rc

## resources
cpp-projects/_resources/icons
## thirdparty
cpp-projects/_thirdparty
## build
cpp-projects/_build/temp

### projects specific
cpp-projects/_build/bin/exvr-components
cpp-projects/_build/bin/exvr-export
cpp-projects/_build/bin/exvr-test
cpp-projects/_build/bin/exvr-designer/*.exe
cpp-projects/_build/bin/exvr-designer/*.dll
cpp-projects/_build/bin/exvr-designer/*.lib
cpp-projects/_build/bin/exvr-designer/*.exp
cpp-projects/_build/bin/exvr-designer/styles
cpp-projects/_build/bin/exvr-designer/printsupport
cpp-projects/_build/bin/exvr-designer/platforms
cpp-projects/_build/bin/exvr-designer/logs
cpp-projects/_build/bin/exvr-designer/imageformats
cpp-projects/_build/bin/exvr-designer/exp-launcher
cpp-projects/_build/bin/exvr-designer/data/temp

# unity-projects
## exp-launcher


## unity-projects
### exp-launcher
unity-projects/exp-launcher/[Ll]ibrary/
unity-projects/exp-launcher/[Tt]emp/
unity-projects/exp-launcher/[Oo]bj/
unity-projects/exp-launcher/[Bb]uild/
unity-projects/exp-launcher/[Bb]uilds/
unity-projects/exp-launcher/[Ll]ogs/
unity-projects/exp-launcher/[Uu]ser[Ss]ettings/

#### exvr dll
unity-projects/exp-launcher/exvr-export.dll
#### close-sources components
unity-projects/exp-launcher/Assets/Thirdparty/private
unity-projects/exp-launcher/Assets/Scripts/Exp/Content/Components/Closed
unity-projects/exp-launcher/Assets/Scripts/Exp/Content/Components/Closed.meta

unity-projects/exp-launcher/ExVR-exp_Data
unity-projects/exp-launcher/MonoBleedingEdge
unity-projects/exp-launcher/SteamVR*
unity-projects/exp-launcher/Unity.XRLineRenderer*
unity-projects/exp-launcher/Assets/_TerrainAutoUpgrade
unity-projects/exp-launcher/*.exe
unity-projects/exp-launcher/.vs
unity-projects/exp-launcher/AssetBundles
unity-projects/exp-launcher/etc
unity-projects/exp-launcher/UnityPackageManager
unity-projects/exp-launcher/obj
unity-projects/exp-launcher/Assets/AssetBundles
unity-projects/exp-launcher/temp_generated
# Autogenerated VS/MD/Consulo solution and project files
unity-projects/exp-launcher/**/ExportedObj/
unity-projects/exp-launcher/**/.consulo/
unity-projects/exp-launcher/**/*.csproj
unity-projects/exp-launcher/**/*.unityproj
unity-projects/exp-launcher/**/*.sln
unity-projects/exp-launcher/**/*.suo
unity-projects/exp-launcher/**/*.tmp
unity-projects/exp-launcher/**/*.user
unity-projects/exp-launcher/**/*.userprefs
unity-projects/exp-launcher/**/*.pidb
unity-projects/exp-launcher/**/*.booproj
unity-projects/exp-launcher/**/*.svd
unity-projects/exp-launcher/**/*.pdb
unity-projects/exp-launcher/**/*.mdb
unity-projects/exp-launcher/**/*.opendb
unity-projects/exp-launcher/**/*.VC.db

unity-projects/exp-launcher-urp/[Ll]ibrary/
unity-projects/exp-launcher-urp/[Tt]emp/
unity-projects/exp-launcher-urp/[Oo]bj/
unity-projects/exp-launcher-urp/[Bb]uild/
unity-projects/exp-launcher-urp/[Bb]uilds/
unity-projects/exp-launcher-urp/[Ll]ogs/
unity-projects/exp-launcher-urp/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
unity-projects/exp-launcher/[Mm]emoryCaptures/

# Recordings can get excessive in size
unity-projects/exp-launcher/[Rr]ecordings/

# Autogenerated Jetbrains Rider plugin
unity-projects/exp-launcher/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
unity-projects/exp-launcher/.vs/

# Gradle cache directory
unity-projects/exp-launcher/.gradle/


# Autogenerated VS/MD/Consulo solution and project files
unity-projects/exp-launcher-urp/**/ExportedObj/
unity-projects/exp-launcher-urp/**/.consulo/
unity-projects/exp-launcher-urp/**/*.csproj
unity-projects/exp-launcher-urp/**/*.unityproj
unity-projects/exp-launcher-urp/**/*.sln
unity-projects/exp-launcher-urp/**/*.suo
unity-projects/exp-launcher-urp/**/*.tmp
unity-projects/exp-launcher-urp/**/*.user
unity-projects/exp-launcher-urp/**/*.userprefs
unity-projects/exp-launcher-urp/**/*.pidb
unity-projects/exp-launcher-urp/**/*.booproj
unity-projects/exp-launcher-urp/**/*.svd
unity-projects/exp-launcher-urp/**/*.pdb
unity-projects/exp-launcher-urp/**/*.mdb
unity-projects/exp-launcher-urp/**/*.opendb
unity-projects/exp-launcher-urp/**/*.VC.db



# Unity3D generated file on crash reports
unity-projects/exp-launcher/sysinfo.txt
unity-projects/exp-launcher-urp/sysinfo.txt



# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*